@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

body {
    background: #18191a;
    color: #eee;
    font-family: 'Fira Code', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(32, 32, 34, 0.97);
    box-shadow: 0 8px 32px rgba(0,0,0,0.36), 0 2px 8px rgba(255,255,255,0.08);
    padding: 44px 36px 30px 36px;
    min-width: 360px;
    width: 420px;
    text-align: center;
}

h2#form-title {
    color: #ffe082;
    margin-bottom: 22px;
    font-size: 26px;
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    letter-spacing: 1px;
}

.form-fields {
    max-width: 366px;
    margin: 0 auto 0 auto;
}

.form-fields input[type="email"],
.form-fields button[type="submit"],
.form-fields #form-submit-btn {
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
}

input[type="email"] {
    padding: 13px 12px;
    background: rgba(28,28,30,0.55);
    color: #e3e3e3;
    box-shadow: 0 0 6px rgba(72,181,242,0.11);
    font-family: 'Fira Code', monospace;
    text-align: center;
    border: 1.2px solid #41e1fa;
}

input[type="email"]::placeholder {
    color: #7a7b8e;
    letter-spacing: 1px;
}

button[type="submit"], #form-submit-btn {
    padding: 13px 0;
    background: rgba(47, 203, 255, 0.5);
    color: #29f3de;
    font-family: 'Fira Code', monospace;
    font-size: 17px;;
    border: 1.2px solid #29f3debb;
    box-shadow: 0 4px 22px rgba(47, 203, 255, 0.10);
    font-weight: 600;
    backdrop-filter: blur(7px);
    cursor: pointer;
    transition: background .21s, color .21s;
}

button[type="submit"]:hover, #form-submit-btn:hover {
    background: rgba(47, 203, 255, 0.9);
    color: #fff;
}

.messages {
    list-style: none;
    margin: 0 0 18px 0;
    padding: 0;
    text-align: center;  /* Ensures all flash messages are centered */
}
.messages li {
    font-size: 15.2px;
    margin-bottom: 7px;
    border-radius: 7px;
    font-family: 'Fira Code', monospace;
    display: block;
}

/* Custom colors for flash message categories: */
.messages li.success { color: #41e1fa; }
.messages li.error { color: #fe6969; }
.messages li.info { color: #ffe082; }


#toggle-text {
    color: #a6a6b4;
    font-size: 14px;
}

#toggle-link {
    color: #83d1f6;
    font-size: 15px;
    text-decoration: underline;
    margin-left: 4px;
    cursor: pointer;
}

@media (max-width: 520px) {
    .container {
        min-width: 90vw;
        width: 97vw;
        padding: 18px 2vw;
    }
    h2#form-title {
        font-size: 19px;
    }
    .form-fields {
        max-width: 97vw;
    }
}
